accelerate==0.34.0
diffusers==0.30.2
einops==0.7.0
fla==0.1
flash-attn==2.5.8
lightning==2.5.1
lpips==0.1.4
numpy==1.24.4
omegaconf==2.3.0
opencv-python==4.8.0.74
protobuf==3.19.0
pytorch-lightning==2.5.1
PyWavelets==1.6.0
PyYAML==6.0.1
safetensors==0.4.3
scikit-learn==1.2.0
scipy==1.12.0
six==1.16.0
sympy==1.12
tensorboard==2.9.0
timm==0.9.11
tokenizers==0.19.0
toml==0.10.2
torch==2.3.0
torchinfo==1.8.0
torchmetrics==1.6.0
torchvision
tqdm==4.66.2
transformers==4.40.0
triton==3.2.0
